## About

This newsletter started because I believe those who work on the web should think about, talk about and practice accessibility differently. Anyone can make the web more accessible one change at a time. That only happens if we share our knowledge, and this is one way I'm sharing mine.

<p class="callout">If you enjoy the newsletter, consider <a href="https://paypal.me/davidakennedy">making a small donation</a>.</p>

## Make a suggestion

Have a suggestion for something I should include in Accessibility Weekly? Email it to <hello@a11yweekly.com>.