<p>You can sponsor Accessibility Weekly!. If you or your company is interested, send a note to <a href="mailto:hello@a11yweekly.com">hello@a11yweekly.com</a>.</p>
<p>If you enjoy the newsletter, consider <a href="https://paypal.me/davidakennedy">making a donation</a>.</p>

