<p>Have a suggestion for something to be included in Accessibility Weekly? Did I make a mistake that doesn't belong on the Internet? You can either reply to this email or send a note to <a href="mailto:hello@a11yweekly.com">hello@a11yweekly.com</a>.</p>