/* Fonts */
/* fira-sans-regular - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"),
    url("/assets/fonts/fira-sans-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/fira-sans-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-italic - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"),
    url("/assets/fonts/fira-sans-v10-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/fira-sans-v10-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-700 - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"),
    url("/assets/fonts/fira-sans-v10-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/fira-sans-v10-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Reset-ish */
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Variables */
:root {
  /* Colors */
  --background: #f0f0f0;
  --headline: #0c0c0c;
  --lighttext: #3e3e3e;
  --primary: #bb3355;
  --secondary: #c1c1c1;
  --text: #0c0c0c;
  --error: #fbb;
  --success: #d4fcbc;

  /* Scale */
  --ratio: 1.4;
  --s-12: calc(var(--s-11) / var(--ratio));
  --s-11: calc(var(--s-10) / var(--ratio));
  --s-10: calc(var(--s-9) / var(--ratio));
  --s-9: calc(var(--s-8) / var(--ratio));
  --s-8: calc(var(--s-7) / var(--ratio));
  --s-7: calc(var(--s-6) / var(--ratio));
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));
  --s9: calc(var(--s8) * var(--ratio));
  --s10: calc(var(--s9) * var(--ratio));
  --s11: calc(var(--s10) * var(--ratio));
  --s12: calc(var(--s11) * var(--ratio));
  --line-height: 1.4;
  --line-height-small: 1.2;
  --measure-narrow: 40ch;
  --measure: 60ch;
  --measure-wide: 90ch;
  --stack-space: var(--s1);

  /* Other stuff */
  --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: normal;
  --font-sans-serif: "Fira Sans", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  --font-monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  background-color: var(--background);
  color: var(--text);
  font-size: clamp(1rem, 0.917rem + 0.417vw, 1.25rem);
  font-family: var(--font-sans-serif);
  font-weight: 400;
  line-height: var(--line-height);
}

/* Utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.callout,
.alert {
  border: 0.085em solid var(--lighttext);
  border-radius: 0.085em;
  padding: var(--s-1);
}

.intro {
  font-size: 1.1rem;
}

/* Stack abstraction.
   https://every-layout.dev/layouts/stack/
 */
.stack > * + * {
  margin-top: var(--stack-space, 1.4em);
}

/* Horizontal navigation abstraction. */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav a {
  display: inline-block;
}

/* Auto grid with no media queries
   https://hankchizljaw.com/wrote/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
 */
.auto-grid {
  --auto-grid-min-size: 16rem;
}

.auto-grid > * {
  max-width: 400px;
}

@supports (display: grid) {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-gap: var(--s-1);
  }

  .auto-grid > * {
    max-width: unset;
  }

  .auto-grid > * + * {
    margin-top: unset;
  }
}

/* Elements */
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
  line-height: 1.2;
  line-height: var(--line-height-small);
  word-wrap: break-word;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

dfn,
em,
i,
figcaption {
  font-style: italic;
}

blockquote {
  border-left: 0.085em solid var(--lighttext);
  font-style: italic;
  padding: 0 var(--s1);
}

blockquote cite {
  display: block;
  font-weight: 700;
  margin-top: var(--s-1);
}

address {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

pre {
  color: var(--text);
  font-family: var(--font-monospace);
  font-size: 0.9rem;
  line-height: var(--line-height-small);
  max-width: 100%;
  overflow: auto;
  padding: var(--s1) var(--s2);
  white-space: pre-wrap;
}

code,
kbd,
var {
  font-family: var(--font-monospace);
  font-size: 0.9rem;
}

abbr {
  border-bottom: 1px dotted var(--lighttext);
  cursor: help;
}

mark {
  background: #f7ff58;
  text-decoration: none;
}

del {
  background-color: var(--error);
  text-decoration: line-through;
}

ins {
  background-color: var(--success);
  text-decoration: none;
}

blockquote,
q {
  quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

small {
  font-size: 0.8rem;
}

table,
th,
td {
  border: 0.085em solid var(--lighttext);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0.085em 0 0 0.085em;
  padding: 0 !important;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  font-weight: 700;
}

th,
td {
  border-width: 0 0.085em 0.085em 0;
  padding: var(--s-2);
}

/* Forms */
label {
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  background-color: var(--background);
  border: 0.085em solid var(--lighttext);
  border-radius: 0.085em;
  padding: var(--s-2);
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: var(--text);
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
}

textarea {
  padding-left: var(--s-2);
  width: 100%;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: var(--primary);
  border: 0.085em solid var(--primary);
  border-radius: 0.085em;
  color: var(--background);
  cursor: pointer;
  font-weight: 700;
  padding: var(--s-1) var(--s-2);
  position: relative;
  -webkit-appearance: none;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: var(--text);
  outline: 2px solid var(--text);
  outline-offset: 2px;
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  top: 2px;
}

button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  border-color: var(--text);
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
}

.button.button-transparent {
  background-color: transparent;
  border-color: transparent;
  color: var(--text);
}

.button.button-transparent:hover,
.button.button-transparent:focus {
  background-color: var(--primary);
  border-color: var(--text);
  color: var(--background);
}

.email-signup input {
  margin: 0 0.25em 0.25em 0;
}

button > svg,
.button > svg {
  display: inline-block;
  vertical-align: middle;
}

.alert {
  align-items: flex-start;
  display: flex;
  margin-top: var(--s-4);
  animation: slide-up 250ms ease;
}

.alert[data-state="error"] {
  background-color: var(--error);
}

.alert[data-state="success"] {
  background-color: var(--success);
}

.alert svg {
  position: relative;
  margin-right: var(--s-1);
  top: 4px;
}

label + .inline-field-control {
  margin-top: var(--s-4);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(0.4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Formatting */
hr {
  border: var(--s-8) solid var(--secondary);
}

ul,
ol {
  margin-left: var(--s1);
  margin-top: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.4em;
  margin-left: var(--s1);
}

.issue li {
  margin-bottom: var(--s0);
}

dt {
  border-bottom: 0.085em solid var(--lighttext);
  font-weight: 700;
  margin-bottom: var(--s-1);
}

dd {
  margin-bottom: var(--s1);
  margin-left: var(--s1);
  margin-top: 0;
}

table {
  width: 100%;
}

figcaption {
  font-size: 0.9rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Navigation */
.site-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  font-weight: 700;
  padding: var(--s-2);
  text-decoration: none;
}

.site-navigation a:hover {
  text-decoration: underline;
}

/* Post Navigation */
.issue-pagination a {
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
}

.issue-pagination svg,
.issue-pagination a {
  display: inline-block;
  vertical-align: middle;
}

/* Links */
a {
  color: var(--primary);
  position: relative;
  text-decoration: underline;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:focus {
  background-color: var(--primary);
  color: var(--background);
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
  text-decoration: none;
}

a:active {
  outline: 0;
  top: 2px;
}

.skip-link {
  font-size: 0.9rem;
  font-weight: 700;
  left: var(--s2);
  max-width: none;
  padding: var(--s-1);
  position: absolute;
  top: var(--s2);
  z-index: 2;
}

.skip-link.focusable:focus {
  position: absolute;
}

[tabindex="-1"]:focus {
  outline: 0 none;
}

.image-link {
  display: block;
}

.site-title:focus {
  background-color: transparent;
}

/* Layout */
body {
  border-left: 0.75em solid var(--secondary);
  border-right: 0.75em solid var(--secondary);
}

body::before {
  background: var(--secondary);
  content: "";
  height: 0.75em;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

body::after {
  background: var(--secondary);
  bottom: 0;
  content: "";
  height: 0.75em;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 60rem;
  padding: var(--s3) var(--s0);
}

.site-header .inner-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-title,
.site-navigation {
  align-self: center;
}

.site-footer .inner-wrapper {
  text-align: center;
}

.header > * {
  max-width: var(--measure);
}

.header > h1 {
  max-width: var(--measure-narrow);
}

.content h2,
.content h3,
.content h4 {
  max-width: var(--measure-narrow);
}

.content > h2 + *,
.content > h3 + *,
.content > h4 + *,
.content > dt + * {
  margin-top: var(--s-3);
}

.content p,
.content li,
.content dt,
.content dd,
.content hr,
.content .signup-alert {
  max-width: var(--measure);
}

.content {
  margin-top: var(--s-3);
}

.issue .content {
  margin-top: var(--s1);
}

/* Issues */
.issue-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.issue-list .issue {
  margin-top: var(--s3);
}

.issue-list .issue-link {
  display: inline-block;
  max-width: var(--measure);
}

/* Issue meta */
.issue .meta {
  color: var(--lighttext);
  font-size: 0.9rem;
  font-style: italic;
}

.issue-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -0.5em;
  margin-top: var(--s3);
}

.issue-pagination .older-issues {
  margin-bottom: 0.5em;
  margin-right: auto;
}

.issue-pagination .newer-issues {
  margin-bottom: 0.5em;
  margin-left: auto;
}

.meta {
  margin-top: var(--s-8);
}

.testimonial-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.testimonial {
  border: 1px solid var(--secondary);
  padding: var(--s1);
}

.testimonial-content {
  font-style: italic;
}

.testimonial-name {
  font-weight: 700;
}

.testimonial-role {
  font-style: italic;
}
