{% extends 'layouts/base.njk' %}
{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}
{% block content %}
  <article class="issue h-entry">
    <div class="header stack">
      <h1 class="title p-name">Issue #{{ page.fileSlug }}</h1>
      <div class="meta">
        <span class="issue-num">
          Issue number {{ page.fileSlug }}
        </span>
        <span class="issue-date">
          was sent on <time class="date dt-published" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
        </span>
      </div>
    </div>
    <div class="content e-content stack">
      {{ content | safe }}
      <h2>Suggestions and corrections</h2>
      {% include "partials/suggestions.njk" %}
      <h2>Sponsorships and donations</h2>
      {% include "partials/sponsor.njk" %}
      <h2>Subscribe</h2>
      {% include "partials/signup-form.njk" %}
    </div>
  </article>
{% endblock %}
{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}
